
%br
%br

- if @tracks.present?
  %center
    = render partial: '/common/playall', locals: { tracks: @tracks, unique_ids: @unique_ids }
    %table
      - @unique_ids.each_slice(5) do |ids|
        %tr
        - ids.each do |id|
          - track = @tracks_hash[id]
          %td= image_tag track.thumbnail_url, width: "280", height: "157"
%br
