
%br
%br

- if @tracks.present?
  .text-center
    = render partial: '/common/playall', locals: { tracks: @tracks, unique_ids: @unique_ids }
    %table
      - @unique_ids.each_slice(4) do |ids|
        %tr
        - ids.each do |id|
          - track = @tracks_hash[id]
          %td{ style: 'padding: 5px;' }
            = render partial: '/common/video_thumbnail', locals: { track: track }


%br
