.container{ style: 'width: 700px'}
  %h1= "All Users"

  %br

  %table.table.table-striped.table-hover{ style: 'width: 700px;'}
    %tr
      %th Name
      %th

    - @users.each do |user|
      %tr
        %td{ nowrap: true }= link_to user.name, user_playlists_path(user)
        %td= link_to 'Play all', user_playall_path(user), class: 'btn btn-primary btn-sm'
