.container{ style: 'width: 700px'}
  %h1= "Goods of #{current_user.name}"

  / %br
  / %p= link_to 'Play all', user_playall_path(@user), class: 'btn btn-primary'
  / %br

  %table.table.table-striped.table-hover{ style: 'width: 700px;'}
    %tr
      %th Name
      %th Souce

    - @playlists.each do |playlist|
      %tr
        %td{ nowrap: true }= link_to playlist.name, user_playlist_path(playlist.user, playlist)
        %td{ nowrap: true }
          - if playlist.playlist.present?
            = link_to playlist.playlist.name, user_playlist_path(playlist.playlist.user, playlist.playlist)
