/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require cyborg/loader
 *= require cyborg/bootswatch
 *= require_self
 *
 */

.page_top_margin {
  margin: 50px 0px 0px 0px;
}

.form-control.width_50 {
  width: 500px;
  float: left;
}

table a, .table a{
  text-decoration: none;
  color: #888888;
}

table td{
  padding: 5px;
  vertical-align: middle !important;
}

table th{
  text-align: center;
}

.left_margin_10 {
  margin: 0px 0px 0px 10px;
}

.top_margin_10 {
  margin: 10px 0px 0px 0px;
}

.add_videos_margin {
  margin: 30px 0px 0px 0px;
}

.title_logo {
  font-family: 'Times New Roman';
  font-size: 30px;
  color: #2a9fd6;
}

.navbar-default .navbar-brand {
  color: #2a9fd6;
}

.gray {
  color: #888888;
}

.track_list_title {
  width:         230px;
  white-space:   nowrap;
  overflow:      hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
