- # Track List
- tracks.each do |track|
  = image_tag track.thumbnail_url, width: "280", height: "157"
  = link_to "Delete", playlist_track_path(playlist_id: track.playlist_id, id: track.id), data: { confirm: "「#{track.title}」を削除します。よろしいですか？", method: 'delete', remote: true, update_target: "tracks" }
