- if tracks.present?
  #play_all_area
    = render partial: '/playlists/play_all_area', locals: { playlist: playlist, tracks: tracks }
  #track_list_area
    = render partial: '/playlists/track_list_area', locals: { tracks: tracks }
