- # 動画再生
#play_all_area
  - if tracks.present?
    = render partial: '/playlists/play_all_area', locals: { playlist: playlist, tracks: tracks, unique_ids: unique_ids }

- # 再生動画リスト
#track_list_area
  - if tracks.present?
    = render partial: '/playlists/track_list_area', locals: { tracks: tracks, unique_ids: unique_ids }
