.container{ style: 'width: 600px'}
  %br
  %br
  / %h1 プレイリスト編集

  = form_for @playlist do |f|
    = f.text_field :name, class: 'form-control', style: 'width: 400px; float: left;'
    = f.submit 'Update', data: { disable_with: 'Update' }, class: 'btn btn-primary left_margin_10'

  %br

  = link_to 'List', playlists_path, class: 'btn btn-default'
