
%iframe{ width: "854", height: "510", src: "https://www.youtube.com/embed/#{unique_ids.first}?playlist=#{unique_ids.delete_at(0); unique_ids.join(',')}&rel=0&loop=1&autohide=1&autoplay=0&color=white&theme=dark", frameborder: "0", allowfullscreen: true}
