= link_to "https://www.youtube.com/watch?v=#{track.unique_id}", target: '_blank', rel: "popover", data: { toggle: "popover", original_title: "", content: track.title } do
  = image_tag track.thumbnail_url, width: "240", height: "180"
