/ %a{ onclick: "fb_share()" }
/   %button{ class: 'btn btn-primary' }
= link_to 'Share on Twitter', "https://twitter.com/intent/tweet?text=#{URI.encode('#funbox ' + playlist.name + ' ' + request.url)}", target: '_blank', class: 'btn btn-primary'
